DATABASE_URL=postgres://postgres:postgres@localhost:5432/larago?sslmode=disable

S3_ENABLED=false
S3_ENDPOINT=localhost:9000
S3_ACCESS_KEY_ID=minioadmin
S3_SECRET_ACCESS_KEY=minioadmin
S3_BUCKET=ordin
S3_REGION=us-east-1
S3_SECURE=false
S3_CREATE_BUCKET=true

RABBITMQ_ENABLED=false
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
